/* Course Crud  */

.courseAdd .circle {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: #f8f9fa;
}

.inputGroup {
  padding-top: 0px;
  padding-bottom: 0px;
}

.courseAdd .circle::-webkit-color-swatch {
  border-radius: 50%;
}

.courseEdit .circle {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.courseEdit .circle::-webkit-color-swatch {
  border-radius: 50%;
}

.staffAccountAdd .circle {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.staffAccountAdd .circle::-webkit-color-swatch {
  border-radius: 50%;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: #f3c8a2;
}

.accordion-button {
  font-size: 15px !important;
}

.stdViewBtn {
  color: white;
  background-color: #fa994af5;
  border: 1px solid #fa994af5;
}
.stdViewBtn:hover {
  color: white;
  background-color: #fa994af5;
  border: 1px solid #fa994af5;
}

/* / / checkbox role / / */

.toggleInput .form-check-input:checked {
  background-color: #94c85f;
  border-color: #94c85f;
}

.toggleInput .form-check-input {
  background-color: #db4f68;
  border-color: #db4f68;
}

.toggleInput .form-check-input:focus:checked {
  border-color: #94c85f;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(55 253 13 / 25%);
}
.toggleInput .form-check-input:focus {
  border-color: #db4f68;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
}

.toggleInput .form-switch-input:focus {
  border-color: #fe8686;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.iconInput {
  border-left: none;
}

.iconInputBackground {
  background-color: transparent;
}

/* student edit  */

.radio-buttons {
  display: flex;
}

.radio-button {
  margin-right: 20px;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button input[type="radio"] + .radio-button-text {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.radio-button
  input[type="radio"]:checked[value="present"]
  + .radio-button-text {
  background-color: green;
  color: white;
}

.radio-button input[type="radio"]:checked[value="absent"] + .radio-button-text {
  background-color: red;
  color: white;
}

.btn-btn {
  color: black;
  background-color: #fce6cf;
  border: 1px solid #fce6cf;
}
.btn-btn:hover {
  color: black;
  background-color: #fce6cf;
  border: 1px solid #fce6cf;
}

.btn-btn.show {
  color: black;
  background-color: #fce6cf;
  border: 1px solid #fce6cf;
}

.notLink {
  text-decoration: none;
  color: black;
}

/* / / Campaign / / */

.campaignStudentAdd .bg-body {
  background-color: #fff;
}

.campaignStudentAdd .bg-head {
  background-color: #fce6cf;
}

.campaignStudentAdd .card-text {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.campaignStudentAdd .option {
  background-color: #fce6cf;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
  margin: 5px;
  transition-duration: 300ms;
  display: flex;
  align-items: center;
}

.campaignStudentAdd .icon {
  margin-right: 15px;
}

.campaignStudentAdd .item-name {
  margin-right: 15px;
}

.campaignStudentAdd .form-check-input:checked {
  background-color: #d86300;
  border-color: #d86300;
}

/* Loader Css  */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}
.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
}

.loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

@keyframes scale {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

/* table */

.paysliptable > * {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.paysliptable .table {
  --bs-table-bg: transparent !important;
}

.paysliptable .table-bordered {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.paysliptable .table-end-border {
  border-right: 2px solid #000;
}

/* cmsfooter  */

.cmsfooter .edit-icon-head{
    visibility: hidden;
    position: absolute;
    top: 8px;
    right: -17px;
    /* color: #4c86f9; */
}

.cmsfooter .editable-text:hover .edit-icon-head {
  visibility: visible;
  cursor: pointer;
}

.cmsfooter .editable-text {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.cmsfooter .edit-icon {
  visibility: hidden;
  position: absolute;
  top: 26px;
  right: 135px;
  /* color: #4c86f9; */
}

.cmsfooter .editable-text:hover .edit-icon {
  visibility: visible;
  cursor: pointer;
}

.cmsfooter .edit-icon-news{
  visibility: hidden;
  position: absolute;
  top: 35px;
  right: 95px;
  /* color: #4c86f9; */
}

.cmsfooter .editable-text:hover .edit-icon-news {
visibility: visible;
cursor: pointer;
}

.cmsfooter .edit-icon-newscontent{
  visibility: hidden;
  position: absolute;
  top: 50px;
  right: 95px;
  /* color: #4c86f9; */
}

.cmsfooter .editable-text:hover .edit-icon-newscontent {
visibility: visible;
cursor: pointer;
}

.cmsfooter .edit-icon-allrights{
  visibility: hidden;
  position: absolute;
  top: 27px;
  right: 210px;
  /* color: #4c86f9; */
}

.cmsfooter .editable-text:hover .edit-icon-allrights {
visibility: visible;
cursor: pointer;
}

.cmsfooter .edit-icon-privacy{
  visibility: hidden;
  position: absolute;
  top: 5px;
  right: -18px;
  /* color: #4c86f9; */
}

.cmsfooter .editable-text:hover .edit-icon-privacy {
visibility: visible;
cursor: pointer;
}

.cmsfooter .edit-icon-teams{
  visibility: hidden;
  position: absolute;
  top: 5px;
  right: -18px;
  /* color: #4c86f9; */
}

.cmsfooter .editable-text:hover .edit-icon-teams {
visibility: visible;
cursor: pointer;
}

.edit-button-new {
  position: absolute !important;
  top: 0 !important;
  left: 100 !important;
}

/* YourStylesheet.css */

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 226, 226); /* or any other color that fits your design */
  border: none;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.custom-edit-button:hover {
  background-color: #f0f0f0; /* Add a hover effect if desired */
}

.custom-img-fluid {
  max-width: 100%;
  height: auto;
}

.custom-card-body {
  flex-grow: 1;
}

.custom-card-title {
  font-size: 1.25rem;
}

.custom-button {
  background-color: rgb(206, 0, 0); /* Customize the button color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: rgb(206, 0, 0);
}

.cms-header{
  background-color: #fff;
  
}
.sized-image {
  width: 140px;
  height: 115px;
  margin-top: 1rem;
}
.sized-image {
  width: 140px;
  height: 115px;
  margin-top: 1rem;
}
.preserve-whitespace {
  white-space: pre-wrap;
}
.modal-content{
  box-shadow: 0px 0px 5px 560px #00000066, 0px 20px 5px -15px #00000042, 0px -10px 5px -10px #0000004d, 0px -10px 6px -15px #00000033;
}

/* Lead Status custom selection */
.leadStatus {
  border-radius: 10px !important;
  border: 1px solid #d1d1d1 !important;
  outline: #d1d1d1 !important;
  font-size: 10px !important;
  cursor: pointer;
}

.leadStatuslist{
  font-size: 11px !important;
  cursor: pointer !important;
  font-weight: 700 !important;
}

.status-txt {
  font-size: 12px !important;
  cursor: pointer !important;
  font-weight: 700 !important;
}

.status-txt:hover {
  color: white !important;
  background-color: #e60504 !important; /* Removed quotes */
}

.status-txt.active {
  color: white !important;
  background-color: #e60504 !important;
}
